/*Reset*/
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #AAA;
    padding-right: 15px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.fondo{
    background-image:url("../imagenes/wayne.png");
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    color:white;
    font-family: 'Lato',sans-serif;
    margin: 10px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.color{
    background: #7F3333
}
section > article{
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.left{
background:wheat;
height: 100vh;
width: 13%;
}
.center{
    background: #AAA;
    width: 63%;
}
.right{
    background: whitesmoke;
    display: flex;

    
}
section article a{
    text-decoration:none;
    color:blue;
}
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#search-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-flex-flow: row-reverse nowrap;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    width: 350px;
}

#search-wrapper #search {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 25px 25px 0;
    color: #444;
    padding: .6rem .5rem;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: lighter;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    width: 100%;
}

#search-wrapper #search+i {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    color: #777;
    padding: .67rem .65rem;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

#search-wrapper #search:focus {
    border-color: #999;
    outline: none;
}

#search-wrapper #search:focus+i {
    border-color: #999;
}