/*Reset*/
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #AAA;
    padding-right: 15px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.fondo{
    background-image:url("../imagenes/wayne.png");
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    color:white;
    font-family: 'Lato',sans-serif;
    margin: 10px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #8C7272;
}
.color{
    background: #7F3333
}
section{
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}
section a{
    color: blue;
}

.left{
background:whitesmoke;
height:auto;
width: 13%;
margin: 3px;
}

.center{
margin: 0;
padding: 0;
font-family: tahoma, sans-serif;
box-sizing: border-box;
}
.right{
    background: whitesmoke;
    display: flex;
    margin: 3px;

    
}
section article a{
    text-decoration:none;
    color:blue;
}
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#search-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-flex-flow: row-reverse nowrap;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    width: 350px;
}

#search-wrapper #search {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 25px 25px 0;
    color: #444;
    padding: .6rem .5rem;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: lighter;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    width: 100%;
}

#search-wrapper #search+i {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    color: #777;
    padding: .67rem .65rem;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

#search-wrapper #search:focus {
    border-color: #999;
    outline: none;
}

#search-wrapper #search:focus+i {
    border-color: #999;
}
.sazuke{
    background-image:url("../imagenes/login.png");
    background-repeat: no-repeat;
    font-family: 'Lato',sans-serif;
    height: 100vh;
    width: 100vw;
}
.whithe{
    color: white;
   height: 450px;
   margin-top: 10rem;
   margin-left: 25rem;
   align-items: center;
   display: inline-block;


}

.chatbox{
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: #fff;
    padding: 25px;
    margin: 25px auto;
    box-shadow: 0 3px #ccc;
}

.chatlogs{
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y:scroll;
}
.chatlogs::-webkit-scrollbar{
    width: 10px;
}
.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo{
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50px;
    overflow: hidden;
}

.chat .user-photo img{
    width: 100%;

}

.chat .chat-message{
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.friend .chat-message{
    background: #1adda4;
}

.self .chat-message{
    background: #1ddced;
    order: -1;
}

.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea{
    background: #fbfbfb;
    width: 70%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;

}

.chat-form textarea:focus{
    background: #fff;
}

}
.chat-form textarea::-webkit-scrollbar{
    width: 10px;
}
.chat-form textarea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat-form button{
    background: #1ddced;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;
    
    -webkit-transition:background.2s ease;
    -moz-transition:background.2s ease;
    -o-transition:background.2s ease;
}

.chat-form button:hover{
    background: #13c8d9;

}

i{
    color: #333;
}