.pixel {
    background: blue;
    width: 200px;
    height: 200px;
}
.pixel2 {
    background: pink;
width: 660px;
height: 600;
}
.pixel3 {
    background: greenyellow;
    width: 390px;
    height: 500px;
}
.pixel4 {
    background: purple;
    width: 450px;
    height: 490px;
}
.pixel5 {
    background: olive;
    width: 450;
    height: 490;
}
.relativo_pixel {
    font-size: 20px;
}
.porciento {
    background: chocolate;
    width: 50%;
    height: 50%;
}
.porciento2 {
    background: red;
    width: 75%;
   margin: 20px;
}
.porciento3 {
background:gold;
width: 100%;
}
body{
    width: 50%;
}
.size_pixel{font-size: 10px;}
.size_em{font-size: 10em;}
.size_rem{font-size: 10rem;}
.size_pt{font-size: 10pt;}
.size_porciento{font-size: 10%;}
.size_ex{font-size: 10ex;}
.size_cm{
    width: 5cm;
    height: 5cm;
    background: cadetblue;
    margin: 1em;
}
.size_mm{
    width: 5mm;
    height: 5mm;
    background: cyan;
    margin: 1em;
}
.size_pt{
    width: 5pt;
    height: 5pt;
    background: chocolate;
    margin: 1em;
}
.size_in{
    width: 5in;
    height: 5in;
    background: coral;
    margin: 1em;
}
.size_5x5{
    width: 5px;
    height: 5px;
    background: red;
}
.size_50x50{
    width: 50px;
    height: 50px;
    background: gold;
}
.size_100x100{
    width: 100px;
    height: 100px;
    background: green;
}
.size_200x200{
    width: 200px;
    height: 200px;
    background: gray;
}